# Ignorar dependencias (se instalarán dentro del contenedor)
node_modules
packages/*/node_modules

# Ignorar artefactos de build (se generarán dentro del contenedor)
packages/*/dist
packages/*/build
packages/*/lib
*.log
*.tsbuildinfo

# Ignorar configuraciones locales y de Git
.env
.env.*
.git
.gitignore
.dockerignore
Dockerfile
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos específicos de OS
.DS_Store
Thumbs.db